/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #962137;
    color: #f7f7f7;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 15px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

header h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.main__content {
    flex-grow: 1;
    width: 96%;
}

.container {
    width: 100%;
    height: auto;
    padding: 25px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    color: #111111;
}

.match {
    background-color: #eeeeee;
    padding: 24px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    width: 360px;
    height: auto;
    opacity: 0;
    translate: -50%;
    transition: all 0.3s ease-in-out;
}

.match.show {
    opacity: 1;
    translate: 0;
}

.match:hover {
    box-shadow: 0 2px 3px 3px rgba(247, 235, 235, 0.69);
}

.match__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.number {
    margin-left: 5px;
}

.flags {
    padding: 32px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    position: relative;
    text-align: center;
}

.home__flag,
.away__flag,
.home__flag__description,
.away__flag__description {
    width: 100px;
}

.home__flag__description,
.away__flag__description {
    height: 68px;
}

.home__flag__description img,
.away__flag__description img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vs {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}

.time__area {
    padding: 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    display: flex;
    gap: 16px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 15px;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/**** Responsive design version tablette ****/

@media screen and (max-width: 991px) {
    header h1 {
        line-height: 1.4;
        font-size: 28px;
    }

    header h2 {
        font-size: 22px;
    }

    .match {
        width: 45%;
    }

    .match__info h3 {
        font-size: 18px;
    }
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 767px) {
    header h1 {
        font-size: 24px;
    }

    .match {
        padding: 18px;
        width: 100%;
    }

    .match__info h3 {
        font-size: 17px;
    }

    .home__flag,
    .away__flag,
    .home__flag__description,
    .away__flag__description {
        width: 75px;
    }

    .home__flag__description,
    .away__flag__description {
        height: 58px;
    }

    .home__team,
    .away__team {
        font-size: 15px;
    }

    .vs {
        font-size: 30px;
    }
}